nav {
    position:fixed;
    top:0;
    width:100%;
    background:#ccd;
    padding:10px;
}
a {
    padding:0 20px;   
}
/* class applied to the a that is clicked */
.menuScroll-active {
    font-weight:bold;
}
.section {
    margin:900px 0;
    padding:100px;
    color:#555;
    text-align:center;
    font-family:arial;
    font-size:20px;
    font-weight:700;
    text-shadow:0 1px 1px #fff;
}
#section1 {
    background:#defdde;
}
#section2 {
    background:#fddede;
}
#section3 {
    background:#dedefd;
}

